<h1>Lista de Personas</h1>

<!-- Barra de búsqueda -->
<input type="text" #fullName placeholder="Buscar por fullName" (keyup)="onSearch(fullName.value)">


<!-- Opciones de ordenamiento -->
<label for="orderBy">Ordenar por:</label>
<select>
  <option value="satisfaction">Nivel de satisfacción</option>
  <option value="category">Categoría</option>
</select>
<label for="orderDirection">Dirección:</label>
<select>
  <option value="asc">Ascendente</option>
  <option value="desc">Descendente</option>
</select>

<!-- Lista de personas -->
<ul>
  <li *ngFor="let person of employee">{{ person.fullName }} - {{ person.company }}</li>
</ul>