<div class="container">
  <h1>Lista de Personas</h1>

  <!-- Barra de búsqueda -->
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar por nombre" #fullName
          (keyup)="onSearch(fullName.value)">
      </div>
    </div>
  </div>

  <!-- Opciones de ordenamiento -->
  <div class="row mt-3 ">
    <div class="col-md-6">
      <div class="form-group">
        <label for="orderBy">Ordenar por:</label>
        <select class="form-control" id="orderBy" [(ngModel)]="orderBy" (change)="sort()">
          <option value="fullName">Nombre completo</option>
          <option value="company">Empresa</option>
          <option value="satisfactionLevel">Nivel de satisfacción</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="orderDirection">Dirección:</label>
        <select class="form-control" id="orderDirection" [(ngModel)]="orderDirection" (change)="sort()">
          <option value="asc">Ascendente</option>
          <option value="desc">Descendente</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Lista de personas -->
  <div class="table-responsive mt-3">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>Fecha</th>
          <th>Email</th>
          <th>Área</th>
          <th>Categoría</th>
          <th>Compañía</th>
          <th>Nivel de satisfacción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of employee">
          <td>{{ person.fullName }}</td>
          <td>{{ person.date }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.area }}</td>
          <td>{{ person.category }}</td>
          <td>{{ person.company }}</td>
          <td>{{ person.satisfactionLevel }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
